{% extends "base.html" %} {% block content %}

<div class="homeBack animated zoomIn">
    <div id="nav">
        <a href="{{ url_for('auth.login') }}" id="surpriseButton">Surprise</a>
    </div>
   <div id="leftImage">
       <img src="{{ url_for('static',filename='image/hero.png') }}"alt="HeroImage" width=380px height="300px" id="heroImage">

   </div>
   <div id="rightContent">
       <p id="header">HAPPY BIRTHDAY <span id="dubbi"> <strong> Likitha </strong></span> !!</p>
       <p id="description">Likitha is not just a name; she is a presence that redefined what it meant to lead with grace. From the corridors of her academic journey to the high-stakes 48-hour hackathons, she moved with a quiet intensity that commanded respect without ever raising her voice. As a CTO, she didn't just manage code; she curated innovation, seeing patterns where others saw chaos. But beyond the titles—the public speaker, the leader, the visionary—there is a girl who values trust above all, the silent architect of Team GREENPULSE's togetherness. This experience is a digital museum of that journey, a cinematic tribute to a legacy that is only just beginning.</p>
        <br>
        <div>
            <a href="{{ url_for('auth.login') }}" id="seeMoreButton" >See More</a>
        </div>
   </div>
</div>

{% endblock %}